# Ignore these directories:
env_files/
seq_files/
plots/
output/
RepresentationsFromDeepMicro/
predictions/
data/*
code/.Rhistory
.DS_Store
.gitattributes
.snakemake/

#ignore slurm output files
slurm*.out

# Ignore some automatic R output
code/Rplots.pdf
code/interannual_comparison.html

# pixi environments
.pixi
pixi.toml
pixi.lock
*.egg-info
